.App {
  text-align: center;
}

.jumbotron{
  background:  rgba(0,0,0,0);
}

.navbar{
  background : rgba(0,0,0,0);
}

.btnInputgroup{
  position : absolute;  
  width : 65%;
  margin : 10px;
  top : 10%;
  right : 20%;
 
}

.serchBox{
  position : absolute;  
  width : 20%;
  margin : 10px;
  top : 10%;
  right : 2%;
  
}

.navbar-toggler{
  background : #EAF0F1
}

.rt{
  background : rgba(255,255,255,0);
}
.rt:focus{
  outLine: none;
  background : rgba(0,0,0,0.2);
}

.card{
  border-radius: 100px 100px 100px 100px;
  background : rgba(255,255,255,0.5);
  border : 2px solid white
}

.card:hover{
  color : white;
  box-shadow: 1px 2px 140px black;
  transition : 0.3s all;
  margin-top : -5px;
  cursor: pointer;
}

.wr{
  /* Center and scale the image nicely */
  background-position: center;
  background-size: cover;
}

.text{
  opacity: 0.6;
}

.info{
  background : rgba(0, 0, 0, 0.27);
  

}
.weatherText{
  font-size: 2rem;
}